body {
  background-color: #0c3dff;
 /*background-image: url("https://images.unsplash.com/photo-1536152470836-b943b246224c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=438&q=80");
 
 */
}

* {
  /* font-family: 'Noto Sans JP' !important; */
  font-family: 'Heebo', sans-serif !important;
  overflow-x: hidden;
  
}