.form{
    display: inline-block;
    margin-left: 550px;
    justify-content: center;
    position: relative;
    bottom: 340px;
}

.form input{
    display: block;
}

.form button{
    display: block;
}

.taskText{
    margin-bottom: 10px;
    width:280px ;
    height:30px ;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(230, 129, 250) ;
    background-color: azure;
 }

  .user{
    margin-top: 15px;
    margin-bottom: 5px;
    width:280px ;
    height:30px ;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(230, 129, 250);
    background-color: azure;
}

.forMeBtn{
  
    cursor: pointer;
    color: black;
    border-radius: 7px;
    background-color: azure;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
   
}
.forOtherBtn{
    margin-top: 10px;
    color: black;
    border-radius: 7px;
    background-color: azure; 
    border: none;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.saveBtn{
    color: black;
    border-radius: 7px; 
    margin-bottom: 10px; 
    background-color: azure; 
    border: none;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }

  .forOtherBtn:hover{
    color: aliceblue;
    background-color: rgb(70, 166, 70);
    transform: translateY(+2px);
    box-shadow: 0px 10px 20px 2px rgb(200, 253, 160);
}
    
  .forMeBtn:hover{
    color:aliceblue ;
    background-color: blue;
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px 2px rgba(107, 123, 248, 0.5);
  }

  .saveBtn:hover{
    color: aliceblue;
    background-color: rgb(53, 169, 32);
    transform: translateY(+3px);
    box-shadow: 0px 10px 20px 2px rgb(249, 196, 196);
  }
  
  @media only screen and (max-width: 768px) and (min-width: 400px){
   .form{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 1px;
    margin-left: 50px;
   }

  }