
.tasklist{
    display: flex;
    justify-content: center;
    bottom: 250px;
}

.tasklist h3{
    margin: 10px;
    font-family: 'poppins' sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.tasklist button {
    margin: 10px;
    padding: 2px 6px;
    cursor: pointer;
    color:black;
    background-color:rgb(219, 243, 235);
    text-align:center;
    border-style: hidden;
    border-radius:4px;
    font-size:16px;
   
}

.DeleteBtn:hover{
    color: white;
    background-color: red;
}

.activeBtn:hover{
    color: white;
    background-color: rgb(118, 118, 250);
}

.pendingBtn:hover{
    color: white;
    background-color: rgb(171, 171, 46);
}

.doneBtn:hover{
    color: white;
    background-color: rgb(42, 173, 42);
}
.done{
    border: none;
}